* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	background-color: #111927;
	background-image: radial-gradient(at 47% 33%, hsl(204.26, 59%, 38%) 0, transparent 59%),
		radial-gradient(at 82% 65%, hsl(300, 53%, 50%) 0, transparent 55%);
	font-size: 20px;
}

h1 {
	text-align: center;
	padding: 10px;
}

.weather-content-container {
	width: 800px;
	padding: 20px 40px;
	border: 2px solid white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;

	backdrop-filter: blur(12px) saturate(180%);
	-webkit-backdrop-filter: blur(12px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.59);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.locationPlace {
	color: #fff;
	font-weight: bold;
}

td {
	width: 50%;
	padding-left: 12%;
	padding-bottom: 8px;
}

.table-heading {
	font-size: 25px;
}

.last-update-container {
	padding-top: 20px;
}

.last-update-info,
.last-update {
	font-size: 15px;
}
