* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	background-image: url('https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
	background-position: center;
	background-size: cover;
}

.test {
	max-width: 1000px;
	padding: 3em 4em;
}

.wrapper {
	display: flex;
	flex-direction: column;
	/* min-width: 50%; */
	min-width: 50%;
	max-width: 100%;
	padding: 3em 4em;
	border: 2px solid white;
	border-radius: 25px;
	/* gradient */
	backdrop-filter: blur(13px) saturate(180%);
	-webkit-backdrop-filter: blur(13px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.66);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

img {
	width: 10rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
	padding-bottom: 0.5em;
}

.locationPlace {
	font-size: 1.8rem;
	color: #fff;
	font-weight: bold;
}

td {
	font-size: 1.5rem;
	padding: 0 10%;
	padding-bottom: 0.7em;
}

.table-heading {
	padding: 0.5em 0;
}

.last-update-info,
.last-update {
	font-size: 1.2rem;
	margin-top: 1.6em;
}

.last-update {
	text-align: center;
	padding: 0.4em 1.5em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.table-last-info {
	padding-bottom: 0;
}
